@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

body{
    margin: 0px;
    font-family: 'Orbitron', sans-serif;
    background-color: #edf1f4;
    color: black;
}

#chronometer{
    margin-top: 50px;
    display:flex;
    flex-direction: column;
}

#title{
    font-size: 45px;
    text-align: center;
    padding: 30px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1),
    -15px -15px 20px #fffb;
    margin-left: 500px;
    margin-right: 500px;
}

#display{
    margin-right: 400px;
    margin-left: 400px;
    text-align: center;
    padding: 50px;
    font-size: 60px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1),
    -15px -15px 20px #fffb;
}

#hours{
    
}

#minutes{
    
}

#seconds{

}

#decimals{
  
}

#buttons{
    text-align: center;
    padding: 40px;
   
}

button{
    padding: 25px 42px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    background-color:#edf1f4 ;
    color: black;
    border:none;
    border-radius: 10px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1),
    -15px -15px 20px #fffb;
}


#start{
   margin-right: 30px;
}

#pause{
    margin-right: 30px;
}

#reset{
    
}
footer{
    text-align: center;
    padding: 20px;
    font-size: 18px;
    margin-top: 90px;
}